{{outlet}}

<section id="blog-post">
  <div class="container inner-top-sm inner-bottom classic-blog sidebar-left">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2  inner-left-sm">
          <img src="images/profile-pic.jpg" class="angie-img">
          
          <div class="angie-title">
            <h4>Full Stack Software Developer at Nimblestack.io </h4>
            <h4><a href="http://learn.co/angyangie/resume" target="_blank"><i class="fa fa-file-text-o"></i></a>
              <a href="https://github.com/angyangie" target="_blank">{{fa-icon "github"}}</a>
              <a href="https://www.linkedin.com/in/angelaramirez" target="_blank">{{fa-icon "linkedin"}}</a>
              <a href="https://twitter.com/_AngieRamirez" target="_blank">{{fa-icon "twitter"}}</a></h4>
            </div>
            
            <section id="who-we-are">

            <br><br>
            <h2>My Story</h2>
            <br>
            <p>At an early age, a love of logic and numbers led me from Electrical Engineering bootcamp, to Yale University, to becoming the unofficial head of IT for SeaChange Capital Partners, an entrepreneurial boutique investment bank in the city (staff of six). After two years of building their Salesforce system and managing their website, in addition to fulfilling other responsibilities as an Associate, I completed the Flatiron School’s Web Development course, where I focused on Ruby on Rails, Javascript, and Ember. <br><br>

            As someone who spent the first ten years of her life in Colombia, is a citizen of three countries (United States, Colombia, and Spain), has travelled to, lived in, or worked in over twenty countries, I am well adapted to working in diverse, fast-paced environments.  I enjoy taking on a large amount of responsibility, learning new frameworks/languages/technologies, and working on a team of passionate individuals. I have past experience in the world of investing, international journalism, teaching, and politics.</p><br>

            <h2>What I Do</h2>
            <br>
            <p>I am currently a full stack developer at NimbleStack, a six-person company that specializes in automating software and building chat bots. Under the direct supervision of our Chief Technology Officer, I am responsible for the full lifecycle development of an email-parsing Facebook chatbot, including initial design, coding, testing, documentation and implementation. I have integrated five APIs into my chatbot (Gmail, Facebook, NimbleParse, and two proprietary Artificial Intelligence APIs) and engage in test-driven development on React/Redux and NodeJS daily. I am responsible for coding the logic behind my chatbot using Javascript on our proprietary online portal, as well as editing the front end of our user authorization and authentication portal. <br><br>Outside of NimbleStack, I participate in Hackathons and attend technology-focused meetups. Recently, I participated in a Bot-building Hackathon and built a personal finance bot that calls/texts a user when the individual spends money they have promised to save (the bot is connected to all of a user's bank accounts) with a team of three others.</p>


            <!-- <h2>Who I am</h2>
            <br>
            <p>I am a well-travelled, multi-cultural woman with past experience in technology, the world of investing, international journalism, teaching, and politics. I am a citizen of three countries (United States, Colombia, and Spain), have travelled to, lived, or worked in over twenty different countries, and speak three languages (English, Spanish, and French). I thrive on teams of passionate developers/engineers and always look forward to learning languages/frameworks not currently in my repertoire.

            </p> -->

</section>
</div>
</div>
</div>
</section>

