{{outlet}}

<section id="blog-post">
  <div class="container inner-top-sm inner-bottom classic-blog sidebar-left">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2  inner-left-sm">
          <img src="images/profile-pic.jpg" class="angie-img">

          <div class="angie-title">
            <h4>Backend Software Engineer at BuzzFeed </h4>
            <h4><a href="http://learn.co/angyangie/resume"><i class="fa fa-file-text-o"></i></a>
              <a href="https://github.com/angyangie">{{fa-icon "github"}}</a>
              <a href="https://www.linkedin.com/in/angelaramirez">{{fa-icon "linkedin"}}</a>
              <a href="https://twitter.com/_AngieRamirez">{{fa-icon "twitter"}}</a></h4>
            </div>

            <section id="who-we-are">

            <br><br>
            <h2>My Story</h2>
            <br>
            <p>A love of logic and numbers from an early age, and a love for languages, led me from Electrical Engineering camp in high school, to Yale University, to becoming the unofficial head of IT for SeaChange Capital Partners, a non-profit investment bank in the city. After two years of building their Salesforce system and managing their website, in addition to fulfilling other responsibilities as an Associate (amongst them, building excel models and writing/presenting investment recommendations), I have dedicated myself full-time to computer programming. </p><br>

            <h2>What I Do</h2>
            <br>
            <p>I am a Backend Software Engineer at BuzzFeed, a leading independent digital media company delivering news and entertainment to hundreds of millions of people around the world. More details to come soon!</p>


            <h2>Who I am</h2>
            <br>
            <p>I am a well-travelled, multi-cultural woman with past experience in technology, the world of investing, international journalism, teaching, and politics. I am a citizen of three countries (United States, Colombia, and Spain), have travelled to, lived, or worked in over twenty different countries, and speak three languages (English, Spanish, and French). I thrive on teams of passionate developers/engineers and always look forward to learning languages/frameworks not currently in my repertoire.

            </p>

</section>
</div>
</div>
</div>
</section>
