<section id="blog-post">
  <div class="container inner-top-sm inner-bottom classic-blog sidebar-left">
    <div class="row">
    
      <div class="col-sm-12 col-md-8 col-md-offset-2  inner-left-sm">
        <br>
        <h2>Professional Experience</h2><br>

        {{post-item posts=model}}

</div>
</div>
</div>
</section>

{{outlet}}
