<div class="container inner" style="padding-left:150px; padding-right:150px">
    <div class="row">
      <h2>Professional Experience</h2>

      <div class="inner-right-md">

        
        <br>

        {{post-item posts=model}}

</div>
</div>
</div>

{{outlet}}
