<div class="container inner" style="padding-left:150px; padding-right:150px">

    <div class="row">
    <h2>Projects</h2><br>
      <div class="inner-right-md">

{{outlet}}

{{post-item posts=model}}
</div>
</div>
</div>