<section id="blog-post">
  <div class="container inner-top-sm inner-bottom classic-blog sidebar-left">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2  inner-left-sm">
       <h2>Projects</h2><br>
    

{{outlet}}

{{post-item posts=model}}
</div>
</div>
</div>
</section>