<div class="container inner" style="padding-left:150px; padding-right:150px">
    <div class="row">
    <h2>Publications</h2><br>
      <div class="inner-right-md">

      {{post-item posts=model}}

      </div>
    </div>
  </div>

{{outlet}}
